/* dymek po najechaniu na label */
label + span {display:none;}
label:hover + span,label:focus + span {display:block;position:absolute;bottom:200;right:220;width:200px;background:#000;color:#fff;}
/* formularze  */
form {
	max-width: 600px;
	background-color: #DFEBF1;
	margin: 20px; 
	border: 2px solid black; 
	float: left; 
	padding: 15px; 
}
input 
{ float: right; 
margin-left:15px; 
}
/* menu  */
#logowanie {
	float:left;
	margin-left:50px;
	margin-top:15px;	
}
body>header {
	background-color: grey;
	height:185px;
}
header >img {
	display: block;
	margin:auto;
}
/*nawigacja*/
nav
{ 
	width: 100%;
	padding: 10px 0;
	background-color: #c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 170px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}

ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ol > li:hover
{
	background-color: #cf6969;
}

ol > li:hover > a
{
	color: #451717;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}

ol > li > ul > li:hover
{
	background-color: #c34f4f;
}

ol > li > ul > li:hover > a
{
	color: #451717;
}
 
article {
	padding: 15px 25px;
}
/* tablica  */
table {
	margin: 0 auto 0 auto; 
		font-family: verdana, arial, sans-serif;
		font-size: 11px;
		color: #333333;
		border-width: 1px;
		border-color: #3A3A3A;
		border-collapse: collapse;
	}
	table th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #517994;
		background-color: #B2CFD8;
	}
	table tr:hover td {
		background-color: #F7CFCF !important;
	}
table tr:nth-child(even) td{
		background-color: #DFEBF1;
}
	table td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #517994;
		background-color: #ffffff;
	}
